<!DOCTYPE html>
<html lang="en">
    <title>
        CK's Personal Website
    </title>
    <head>
        <meta charset="utf-8">
        <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="box">
            <img src="CK2.png" alt="" class="box-img">
            <h1> Christian Kenneth Budoy </h1>
            <h5> Computer Engineer</h5>
            <p>Hi there, I'm a computer engineering student with a passion for technology and its application in solving complex problems. I'm constantly exploring different areas of computer engineering, including hardware, software, and computer networks. With a strong foundation in programming and problem-solving, I'm excited to use my skills to create innovative solutions in the field of computer engineering.</p>
   <ul>
    <li><a href="https://www.facebook.com/christianckbudoy"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="https://www.youtube.com/watch?v=eBGIQ7ZuuiU"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
   

</ul>
</div>
</body>
</html>