<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1 style="text-align: center; color:rgb(232, 46, 46)">Profile Page</h1>
    <p style="text-align: center"><strong>Name: </strong>De Leon, Rose Denise Jacolba</p>
    <p style="text-align: center"><strong>Section: </strong>BS CpE 2-6</p>
    <p style="text-align: center"><strong>Course: </strong>Bachelor of Science in Computer Engineering</p>
    <p style="text-align: center"><strong>Subject: </strong>CMPE 201: Data Structures and Algorithms</p>
    <img style="margin-left: 500px;" src="{{ url_for('static', filename='dear-reader.jpg')}}" height='300px' alt="dear-reader">
    <img src="{{ url_for('static', filename='if-you.jpg')}}" height='300px' filename='if-you' alt="if-you">
</body>
</html>
