<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Welcome to your Profile Page</h1>
    <p>Create your profile here with Name, section, course, subject, and display your favorite sayings or motto using HTML tags.</p>

    <h2>Profile Information:</h2>
    <p><strong>Name:</strong> Dan Efraim V. Hernandez</p>
    <p><strong>Section:</strong> BsCPE 2-6</p>
    <p><strong>Course:</strong> Computer Engineering</p>
    <p><strong>Subject:</strong> Data Structure and Algorithm</p>
    <p><strong>Favorite Saying or Motto:</strong> Nothing is Impossible. If you can think it you can do it</p>
</body>
</html>